@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 , p , span {
  color: #363636;
}

body{
  overflow-x: hidden;
}


.gg{
  border: 2px solid green;
}

.bb{
  border: 2px solid blue;
}


.navbar-drop-shadow{
  background: #FFFFFF;
box-shadow: 0px 19px 32px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(24px);
}

.footer-company-red-line{

  width: 120px;
  height: 5px;
  background: #FF0000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  }

.home-hero-red-line{
width: 160px;
height: 5px;
background: #FF0000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}

.footer-form-red-line{
  width: 230px;
  height: 5px;
  background: #FF0000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  }

.home-hero-join-us-btn{
  width: 164px;
height: 63px;
background-color: #FF0000;
border-radius: 7px;
color: white;
font-size: 21px;

}

.home-hero-contact-us-btn{
  width: 276.55px;
height: 63px;
background: #FFFFFF;
color: black;

border-radius: 7px;
box-shadow: 0px 19px 32px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(24px);
}

.home-hero-explore-more-btn{
  width: 276.55px;
height: 63px;
background: #000000;
border: 2px solid black;
color: white;

border-radius: 7px;
box-shadow: 0px 19px 32px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(24px);
}


.home-hero-ul li{
list-style-type: disc;
}


/* gallery img size  */

.mobile-nav-styles{
  background: #282828;
  color: white;
  padding-right: 33px;
  align-items: center;
  padding-left: 30px;
  width: 70vw;
}

/* services */
.services-card-box-shadow{
  background: #FFFFFF;
box-shadow: 0px 4px 13px 7px rgba(0, 0, 0, 0.25);
}

.services-card-heading{
  color: rgb(0, 0, 0);
  /* text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000; */
     font-weight: bold;
}


.services-ul li{
list-style-type: disc;

}

.services-know-more-btn{
  width: 227.2px;
height: 63px;
color : white;
background-color: #363636;
font-size: 24px;
border-radius: 7px;
}

.fixed-body-class{
  overflow: hidden;
  overflow-y: hidden;
}


.testimonial-card-box-shadow{
  /* Home Page */

background: #FFFFFF;
box-shadow: -8px 5px 12px rgba(0, 0, 0, 0.25);
}


.footer-box-shadow{
  background: #FFFFFF;
box-shadow: -28px 56px 23px 66px rgba(0, 0, 0, 0.25);
}


.footer-ul li{
  padding: 8px 0px;
  font-size: 23px;
}

.testimonial-bg-img{
  background-image: url('./assets/testimonial-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;

}

.input-field{
  background: #FFFFFF;
box-shadow: 3px 3px 24px 4px rgba(0, 0, 0, 0.25);
border-radius: 7px;
padding : 3px 5px;

}

.footer-clear-btn{
  width: 225px;
height: 54px;
color: white;
background: red;
border-radius: 7px;
}

.footer-submil-btn{
  width: 152px;
height: 54px;
background: black;
color : white;
border-radius: 7px;
}


.gallery-img-hover:hover{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.gallery-red-img-hover:hover{
  box-shadow: rgba(255, 0, 0, 0.827) 0px 22px 70px 4px;
}

.gallery-orange-img-hover:hover{
  box-shadow: rgba(255, 145, 0, 0.827) 0px 22px 70px 4px;
}

.services-card-hover:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* .footer-icon-hover:hover{
  box-shadow: 3px 3px 24px 4px rgba(255, 55, 55, 0.838);
} */


.mobile-nav-transition{
transform: translateX(10%);
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}
/*  media querries */
/* @media only screen and (min-width: 300px) {
 
}


 */


@media only screen and (max-width: 1180px) {
    .gallery-mid-img{
      display: none !important;
    }
}

@media only screen and (max-width: 600px) {
   /* .footer-ul{
    align-items: start;
   } */
}